@use "../foundation/import" as f;

/* -------------------------------
 *  html body
 * ---------------------------- */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  body {
    width: inherit;
    height: inherit;
    min-height: 100vh;
    font-family: f.$default-font-family;
    font-size: f.$default-font-size;
    line-height: f.$default-line-height;
    color: f.$default-color;
    font-feature-settings: "palt";
  }
  @include f.media-query(sm) {
    body {
      font-size: f.responsive-font-size(16, f.$screen-sm);
    }
  }
  @include f.media-query(xs) {
    body {
      font-size: f.$font-S;
    }
  }
}

/* -------------------------------
 *  base layout
 * ---------------------------- */

/* -- config ------------------ */
$header-min-height: auto;
$header-max-height: auto;
$footer-min-height: auto;
$footer-max-height: auto;

/* -- layout ------------------ */
.l-base {
  width: inherit;
  height: auto !important;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template:
    "header" minmax($header-min-height, $header-max-height)
    "main" 1fr
    "footer" minmax($footer-min-height, $footer-max-height)
    / 100%;
}

/* -------------------------------
 *  header
 * ---------------------------- */
.l-header {
  grid-area: header;
}

/* -------------------------------
 *  footer
 * ---------------------------- */
.l-footer {
  grid-area: footer;
}

/* -------------------------------
 *  main
 * ---------------------------- */
.l-main {
  grid-area: main;
}

/* -------------------------------
 *  aside
 * ---------------------------- */
.l-aside {
  // add style
}