block variables

footer(class= isFrontPage ? 'l-footer footer-front-page' : 'l-footer')
  section.l-wrapper
    div.l-container
      div.l-inner
        div.__block-depth-1
          div.__block-depth-2
            div.__block-depth-3
              div.__block-depth-4
                div.__block-depth-5
// footer end 