block variables

header(class= isFrontPage ? 'l-header header-front-page' : 'l-header')
  section.l-wrapper
    div.l-container
      div.l-inner
        div.__block-depth-1
          div.__block-depth-2
            div.__block-depth-3
              div.__block-depth-4
                div.__block-depth-5
// header end 