@use "variable" as f-variable;

/* -------------------------------
 *  typography
 * ---------------------------- */
@mixin typography-title($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-XXXL;
    line-height: f-variable.$line-height-catchcopy;
    letter-spacing: f-variable.$letter-spacing-catchcopy;
    font-weight: bold;
  }
  @else {
    font-size: f-variable.$font-XXXXL;
    line-height: f-variable.$line-height-title;
    letter-spacing: f-variable.$letter-spacing-title;
    font-weight: bold;
  }
}
@mixin typography-catchcopy($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-XXL;
    line-height: f-variable.$line-height-subcatch;
    letter-spacing: f-variable.$letter-spacing-subcatch;
    font-weight: bold;
  }
  @else {
    font-size: f-variable.$font-XXXL;
    line-height: f-variable.$line-height-catchcopy;
    letter-spacing: f-variable.$letter-spacing-catchcopy;
    font-weight: bold;
  }
}
@mixin typography-subcatch($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-XL;
    line-height: f-variable.$line-height-headline;
    letter-spacing: f-variable.$letter-spacing-headline;
    font-weight: bold;
  }
  @else {
    font-size: f-variable.$font-XXL;
    line-height: f-variable.$line-height-subcatch;
    letter-spacing: f-variable.$letter-spacing-subcatch;
    font-weight: bold;
  }
}
@mixin typography-headline($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-L;
    line-height: f-variable.$line-height-leadcopy;
    letter-spacing: f-variable.$letter-spacing-leadcopy;
    font-weight: bold;
  }
  @else {
    font-size: f-variable.$font-XL;
    line-height: f-variable.$line-height-headline;
    letter-spacing: f-variable.$letter-spacing-headline;
    font-weight: bold;
  }
}
@mixin typography-leadcopy($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-M;
    line-height: f-variable.$line-height-leadcopy;
    letter-spacing: f-variable.$letter-spacing-leadcopy;
    font-weight: bold;
  }
  @else {
    font-size: f-variable.$font-L;
    line-height: f-variable.$line-height-leadcopy;
    letter-spacing: f-variable.$letter-spacing-leadcopy;
    font-weight: bold;
  }
}
@mixin typography-bodycopy($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-S;
    line-height: f-variable.$line-height-bodycopy;
    letter-spacing: f-variable.$letter-spacing-bodycopy;
    font-weight: normal;
  }
  @else {
    font-size: f-variable.$font-R;
    line-height: f-variable.$line-height-bodycopy;
    letter-spacing: f-variable.$letter-spacing-bodycopy;
    font-weight: normal;
  }
}
@mixin typography-caption($isMobile) {
  @if ($isMobile) {
    font-size: f-variable.$font-XS;
    line-height: f-variable.$line-height-caption;
    letter-spacing: f-variable.$letter-spacing-caption;
    font-weight: normal;
  }
  @else {
    font-size: f-variable.$font-XS;
    line-height: f-variable.$line-height-caption;
    letter-spacing: f-variable.$letter-spacing-caption;
    font-weight: normal;
  }
}
@function responsive-font-size($target-font-size,$target-screen-size){
  $view-width-ratio: $target-screen-size / 100;
  @return $target-font-size / $view-width-ratio * 1vw;
}