@use "../../foundation/import" as f;

/* -------------------------------
 *  common
 * ---------------------------- */

/* -------------------------------
 *  02_******
 * ---------------------------- */