@use "../../foundation/import" as f;

/* -------------------------------
 *  common
 * ---------------------------- */

/* -------------------------------
 *  single pages
 * ---------------------------- */